<table class='people-tbl'>
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
        </tr>
    </thead>
    <tbody>
        <% contacts.forEach(i=>{%>
            <tr data-id='<%=i.id%>'>
                <td>
                    <%= i.firstname %>
                </td>
                <td>
                    <%= i.lastname %>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>