<table>
    <thead>
        <tr>
            <li>first name</li>
            <li>last name</li>
        </tr>
    </thead>
    <tbody>
        <% contacts.forEach(i=>{%>
            <tr>
                <td>
                    <%= i.firstname %>
                </td>
                <td>
                    <%= i.lastname %>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>

<form action="/person" method="post">
    <input type="text" name='firstname'>
    <input type="text" name='lastname'>
    <button>Submit</button>
</form>